.jobs-selection {
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 0px 10px 15px -7px rgb(93 164 164 / 5);

    .filters {
        display:flex;
        flex:1;
        flex-wrap: wrap;

        .nav-btn {
            display:flex;
            align-items: center;
            border-radius: 5px;
            padding: 10px 55px 12px 15px;
            background-color: $lightGrayishCyan;
            font-weight: 700;
            color: $desaturatedDarkCyan;
            margin: 20px 0 20px 20px;
            cursor: pointer;
            position: relative;
            overflow:hidden;

            &::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 39px;
                background-color: $veryDarkGrayishCyan;
                background-image: url('../images/icon-remove.svg');
                background-position: center;
                background-size: 15px;
                background-repeat: no-repeat;
                transition: .3s ease;
            }
            &:hover::after {
                background-color: $desaturatedDarkCyan;
                transition: .3s ease;
            }
        }
    }
    button {
        background:none;
        border: 0;
        color: $desaturatedDarkCyan;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        margin: 20px;

        &:hover {
            text-decoration: underline;
        }
    }
}