* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: $font-base;
  }
  a {
    text-decoration: none;
  }
  html {
    overflow-x: hidden;
    body {
      margin: 0 165px;
      width: 100%;
  
      main {
        display:flex;
        align-items: center;
        margin: 80px 0;
      }
    }
  }

@media (max-width: 600px) {
  html {
    body {
      margin: 0;

      main {
        flex-direction: column;
        margin: 0;
      }
    }
  }
}