@font-face {
    font-family: 'Kumbh';
    src: url('/app/assets/fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kumbh';
    src: url('/app/assets/fonts/KumbhSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }