.product {
    margin-left: 125px;

    .price-product {
        margin: 40px 0;

        div {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .discount {
                background-color: $paleOrange;
                color: $orange;
                font-size: 12px;
                border-radius: 4px;
                padding: 7px 9px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-left: 20px;
            }
        }
        .full-price {
            text-decoration: line-through;
            color: $grayishBlue;
        }
    }
    .buy-product {
        display: flex;
        
        .form-group {
            background-color: $lightGrayishBlue;
            border-radius: 10px;
            padding: 20px 15px;
        }
    }
}

@media (max-width: 600px) {
    .product {
        margin: 25px;

        .price-product {
            margin: 40px 0 30px;
            div {
                margin: 0;
                display: inline-flex;
            }
            span {
                float: right;
            }
        }

        .buy-product {
            flex-direction: column;
            .form-group {
                width: 100%;
            }
        }
    }
}