/*** SIZES ***/

$width-small: 375px;
$width-large: 1440px;

/**** COLORS ****/

$desaturatedDarkCyan: rgb(91, 164, 164);

$lightGrayishCyan: hsl(180, 52%, 96%);
$darkGrayishCyan: rgb(123, 142, 142);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);