<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Job Listings</title>
  <link rel="stylesheet" href="app/assets/stylesheets/style.css" /> 
</head>
<body>
  <header>
  </header>

  <main>

    <nav class="jobs-selection">
      <div class="filters"></div>
      <button id="clear">Clear</button>
       
    </nav>

    <div class="jobs-listing">

      
    </div>

  </main>

  <script src="./app/assets/javascript/_fetch-data.js"></script>
</body>
</html>